{% extends 'base.html.twig' %}

{% block title %}Derniers matchs joués{% endblock %}

{% block body %}
    <main class="row-wrap">
        {% for game in games %}
            <div class="frame shadow frame-team"
            >
                <p>
                    <span class="
                    {{ (game.result == 1) ? 'winner' : (game.result == 2) ? 'looser' : 'draw' }} ">
                        {{ game.team1.name }}</span>
                    vs
                    <span class="
                    {{ (game.result == 2) ? 'winner' : (game.result == 1) ? 'looser' : 'draw' }}">
                        {{ game.team2.name }}</span>
                </p>
            </div>
        {% endfor %}
    </main>
{% endblock %}
