header>nav {
    height: var(--navbar-heigth);
    width: 100vw;
    background-color: var(--bg-color);
    display: flex;
    justify-content: end;
    padding: var(--svg-padding);
    font-size: calc(var(--font-size) * 2);
}
header>nav>div {
    align-self: flex-end;

}
header>nav>a>svg {
    width: var(--svg-height);
    height: var(--svg-height);
    align-self: flex-end;
    color: var(--font-color);
}